.form {
    margin: 10%;
    width: 50%;
    height: 20%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.form input {
    border-radius: 50px;
    border: none;
    box-shadow: inset 0 0 10px rgb(77, 77, 250);
    height: 40px;
    width: 120px;
    padding-left: 20px;

}
.form button {
    width: 30%;
    background-color: rgb(77, 77, 250);
    align-items: center;
    color: white;
    border-radius: 50px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
}
.label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
}
.form h1 {
    color: blue;
    margin-left: 20px;
}
@media (width <=600px) {
    .form {
        width: 50%;
        font-size: 0.7rem !important;
        margin-left:87px;
    }
   .form button {
        width: 90px;
        height: 35px;
        font-size: 0.8rem;

    }
    .form .label input {
        margin-left: 3px;
        width: 80px;
        font-size: 0.7rem;

    }
    .form h1 {
        font-size: 1.5rem;
        margin: auto;

    }
    .form .label {
        gap: 5px !important;
        font-size: 0.9rem;
        font-weight: 700;
    }
}