.form {
    margin: 10%;
    width: 50%;
    height: 20%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.form input {
    border-radius: 50px;
    box-shadow: inset 0 0 10px #000;
    height: 40px;
    width: 70%;
    padding-left: 20px;

}
.form button {
    width: 50%;
    align-items: center;
    border-radius: 50px;
    height: 40px;
}
.label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
}